html, body
{
    height: 100%;
}
.canvas {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3
{
    color: #380101;
    font-family:  Serif ;
    font-size: 4.5em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2pt;
    word-spacing: 8.6pt;
    line-height: 1.1;
    text-align: center;
}
#logInBox
{
    height: fit-content;
    width: fit-content;
}
.centrado
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#loginButton:hover
{
    transform: scale(1.1);
}

#loginButton
{
    background-color: #1a1204;
    border-radius: 28px;
    border: 1px solid #380101;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    padding: 10px 31px;
    text-decoration: none;
    text-shadow: rgb(32, 21, 7) 0px 1px 13px;
    font-weight: bold;
}
input
{
    border-color: #380101;
    font-size: 14px;
    text-align: center;
    padding: 4px;
    border-width: 2px;
    border-radius: 11px;
    border-style: groove;
    box-shadow: 5px 0px 5px 0px rgba(42,42,42,.67);
    margin: 7%;
}
#fondo
{
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}
