body {
    background-color: #edbc5c;
}

img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#encabezado {
    width: calc(100%);
    height: fit-content;
    margin-bottom: 10px;
    height: fit-content;
}

#rectangulo {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    height: 600px;
    background-color: #97671C;
}

#contenedor {
    position: relative;
    width: 99%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    height: 600px;
    background-color: #FEF9E6;
}

#obraPicture {
    position: absolute;
    width: 30%;
    height: 70%;
    object-fit: contain;
    margin-top: 5%;
    margin-left: 4%;
}

#tituloObra {
    position: absolute;
    font-family: 'Lobster', cursive;
    margin-top: 3%;
    margin-bottom: 60%;
    font-size: 1.5em;
    margin-left: 37%;
    margin-right: 3%;
}

#autorObra {
    position: absolute;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    margin-top: 8%;
    margin-left: 80%;
    margin-right: 3%;
}

#precioBaseObra {
    position: absolute;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
    word-spacing: 8px;
    margin-top: 14%;
    margin-left: 36%;
    margin-right: 3%;
    margin-bottom: 20%;
}


#etiquetas {
    position: absolute;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    word-spacing: 8px;
    margin-top: 18%;
    margin-left: 36%;
    margin-right: 3%;
    margin-bottom: 20%;
}

#descripcionObra {
    position: absolute;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    line-height: 27px;
    word-spacing: 8px;
    margin-top: 18%;
    margin-left: 49%;
    margin-right: 5%;
    margin-bottom: 20%;
}

#botonComprarObra {
    position: absolute;
    color: white;
    font-family: Serif;
    background-color: #380101;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    margin-top: 36%;
    width: 25%;
    word-spacing: 12px;
    height: 8%;
    margin-left: 6%;
    margin-right: 3%;
    margin-bottom: 1%;
}

#botonComprarObra:hover {
    transform: scale(1.1);
}

#footer {
    margin-top: 45%;
    width: 100%;
    height: 400px;
}